/clase16/kevin/Projecto01-S39/nbproject/private/
/clase16/kevin/Projecto01-S39/build/
/solemne3/BancoApp/build/
/solemne3/BancoApp/nbproject/private/
/solemne4/MuseoApp/nbproject/private/
/solemne4/MuseoApp/build/
/clase17/PruebaMySql/nbproject/private/
/clase17/PruebaMySql/build/
/clase17/ProductosApp/nbproject/private/
/tareaNota4/ProductosApp/nbproject/private/
/tareaNota4/ProductosApp/build/